@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.transparent-bg {
  background-color: rgba(30, 30, 40, 0.7);
}

h1 {
  @apply text-3xl;
  @apply mb-16;
}

.h-70 {
  height: 70vh;
}

.mt-70 {
  margin-top: 70vh;
}

.tgl-btn.active:after {
  left: 50%;
}

.tgl-btn.active {
  background: #9fd6ae;
}

.tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  user-select: none;
  background: #2b6cb0;
  border-radius: 2em;
  padding: 2px;
}

.tgl-btn:after {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  left: 0;
  border-radius: 50%;
  background: #2d3748;
  transition: all 0.2s ease;
}

/* speaking */

.blure {
  filter: blur(2px);
}

.speaking .speakable {
  opacity: 0.2;
}

.speaking.presentationView span.pasive {
  opacity: 0;
}

.speaking img.speakable:hover {
  opacity: 1;
}

.speakable.active {
  opacity: 1;
}

.bg-speaking {
  background: linear-gradient(268deg, #1a202c, #000000);
  background-size: 400% 400%;

  -webkit-animation: speaking 2s ease infinite;
  -moz-animation: speaking 2s ease infinite;
  animation: speaking 2s ease infinite;
}

.pulse {
  animation: pulse 1.2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes speaking {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes speaking {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes speaking {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
