@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.transparent-bg {
  background-color: rgba(30, 30, 40, 0.7);
}

h1 {
  @apply text-3xl;
  @apply mb-16;
}

.h-70 {
  height: 70vh;
}

.mt-70 {
  margin-top: 70vh;
}

.tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  user-select: none;
  background: #2b6cb0;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}

/* speaking */

.speaking .speakable {
  opacity: 0.2;
}

.speaking img.speakable:hover {
  opacity: 1;
}

.speakable.active {
  opacity: 1;
}
